{% extends 'base_template.html' %}
{% block title %} AskMate|{{ page }} {% endblock %}

{% block content %}
  <form action="{{ url_for(action, page=page) }}" method="post" enctype = "multipart/form-data" style="margin: 40px 50% 40px 40px;" class="was-validated">
    {% if 'new-tag' not in page and 'sign' not in page %}
    {% if page == 'add-question' or ('question' in page and request.base_url.endswith('edit')) %}
    <div class="input-group input-group-lg">
      <span class="style-mode input-group-text" id="inputGroup-sizing-lg">Question title</span>
      <input type="text" name="title" class="style-mode form-control is-invalid" id="validationTextarea" value="{{ selected_question.title if selected_question }}" placeholder="Required title" required aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
    </div><br>
    {% endif %}
    <div class="input-group">
      <span class="style-mode input-group-text">Details</span>
      <textarea name="message" class="style-mode form-control is-invalid" id="validationTextarea" placeholder="Required" required aria-label="Details">{% if message %} {{ message.message }} {% elif selected_question %} {{ selected_question.message|safe }} {% endif %}</textarea>
    </div><br>
    {% if 'comment' not in page %}
    <div class="input-group mb-3">
      <input type="file" class="form-control" id="style-mode" name="img" accept="image/*">
      <label class="style-mode input-group-text" for="inputGroupFile02">Upload</label>
    </div>
    {% endif %}
    <div class="centered mb-3">
      <button type="submit" class="style-mode btn btn-success">
        {% if 'edit' not in request.base_url %}
        Add {{ page.split('-')[-1].title() }}
        {% else %}
        Edit {{ page.split('-')[0].title() }}
        {% endif %}
      </button>
    </div>
    {% elif 'tag' in page %}
    <div>
      <div>
        <label for="tag_input"></label><input class="style-mode" type="text" placeholder="insert new tag" id="tag_input" name="new_tag">
        <button type="submit" class="style-mode btn btn-success"> Add Tag </button>
      </div><br>
      <div>
      {% for tag in tags %}
        <button type="submit" name="tag" value="{{ tag.name }}" class="btn btn-outline-success">{{ tag.name }}</button>
      {% endfor %}
      </div><br>
      <span class="style-mode input-group-text" id="inputGroup-sizing-lg"> Current tags: {{ ", ".join(question_tags.split()) }}</span>
    </div>
    {% else %}
      {% if page == 'sign-up' %}
      <div class="input-group">
        <span class="style-mode input-group-text">User name</span>
        <input type="text" name="username" class="style-mode form-control is-invalid" id="validationTextarea" placeholder="User name" required aria-label="User name">
      </div><br>
      {% endif %}
    <div class="input-group">
      <span class="style-mode input-group-text">Email address</span>
      <input type="email" name="email" class="style-mode form-control is-invalid" id="validationTextarea" placeholder="Email address" required aria-label="Email address">
    </div><br>
    <div class="input-group">
      <span class="style-mode input-group-text">Password</span>
      <input type="password" name="password" class="style-mode form-control is-invalid" id="validationTextarea" placeholder="Six or more characters" pattern=".{6,}" title="Six or more characters" required aria-label="Password">
    </div><br>
      <button type="submit" class="style-mode btn btn-success">{{ page.replace('-', ' ').title() }}</button>
      {% if user_name_taken %} <div style="margin-top: 10px"><h5 class="text-danger">User name taken, please try another one!</h5></div> {% endif %}
      {% if already_register_email %} <div style="margin-top: 10px"><h5 class="text-danger">Email address already register, please try again or sign in!</h5></div> {% endif %}
      {% if invalid_credentials %} <div style="margin-top: 10px"><h5 class="text-danger">Invalid credentials, please try again or sign up!</h5></div> {% endif %}
    {% endif %}
  </form>
{% endblock %}