{% extends 'base_template.html' %}
{% block title %} {% if 'list' not in request.base_url %} AskMate {% else %} AskMate|List all Questions {% endif %}{% endblock %}

{% block add %}
  <a class="btn btn-outline-success" href="{{ url_for('add_form', page='add-question') }}">Add Question</a>
{% endblock %}

{% block sort %}
  {% if request.base_url == "http://127.0.0.1:5000/" %}
    <a class="nav-link active" aria-current="page" href="/list">List all Questions</a>
  {% endif %}
  <form action="{{ url_for('search') }}" class="d-flex">
    {% for direction in ['Sort asc', 'Sort desc'] %}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-secondary text-muted" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ direction }}
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for type in ['title', 'submission_time', 'message', 'view_number', 'vote_number'] %}
        <li><a class="dropdown-item"
              {% if "list" in request.base_url %}
                href="/list?order_by={{ type }}&order_direction={{ direction[5:] }}"
              {% else %}
                href="/?order_by={{ type }}&order_direction={{ direction[5:] }}"
              {% endif %}
        >{{ ' '.join(type.split('_')) }}</a></li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
    <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
{% endblock %}
{% block content %}
  {% for question in all_questions %}
    <div id="{{ question['id'] }}" style="width: 50%; margin: 50px auto 50px auto; border-color: {{ font_color }}; background-color: {{ background_color }};" class="card">
        <div style="background-color: {{ background_color }};" class="centered card-header">
          <a class="nav-link fs-2 link" href="/question/{{ question['id'] }}">
            {% if phrase %}
              {% for word in question.title.split() %}
                {% if word in phrase %}
                  <strong style="color: red">{{ word }}</strong>
                {% else %}
                  {{ word }}
                {% endif %}
              {% endfor %}
            {% else %}
              {{ question['title']|title|safe }}
            {% endif %}</a>
        </div>
        <div class="card-body shadow">
          <p style="color: {{ font_color }};" class="card-text fs-4 text">
            {% if phrase %}
              {% for word in question.message.split() %}
                {% if word in phrase %}
                  <strong style="color: red">{{ word }}</strong>
                {% else %}
                  {{ word }}
                {% endif %}
              {% endfor %}
            {% else %}
              {{ question['message']|capitalize|safe }}
            {% endif %}</p>
          {% if question['image'] %}
            <img style="margin-left: 40%; overflow: visible" src="{{ question['image'] }}" width="200px" alt="image uploaded by user"><br><br>
          {% endif %}
          <div class="btn-group">
            <a href="{{ url_for('vote', id=question['id'], value=1, page=request.base_url) }}" class="btn btn-outline-success" aria-current="page"><img style="width: 25px" src="/static/icons/vote_up.png" alt="vote up sign"></a>
            <a class="btn btn-outline-secondary disabled">{{ question['vote_number'] }}</a>
            <a href="{{ url_for('vote', id=question['id'], value=-1, page=request.base_url) }}" class="btn btn-outline-danger"><img style="width: 25px" src="/static/icons/vote_down.png" alt="vote down sign"></a>
            <a class="btn btn-outline-secondary disabled">{{ count_question_answers(question.id).get("count") if count_question_answers(question.id).get("count") else 0 }} {{ "Answer" if count_question_answers(question.id).get("count") == 1 else "Answers" }}</a>
          </div>
        </div>
        <div class="centered card-footer text-muted">
          {{ question['submission_time'].strftime("%Y-%m-%d %H:%M") }}<br>
          <h6 class="centered">{{ question['view_number'] }} views</h6>
        </div>
        {% if phrase and answers %}
          <div class="card-footer fs-4 text">
            {% for answer in answers %}
              {% if answer.question_id == question.id %}
                {% for word in answer.message.split() %}
                  {% if word in phrase %}
                    <strong style="color: red">{{ word }}</strong>
                  {% else %}
                    {{ word }}
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
    </div>
  {% endfor %}
{% endblock %}