{% extends 'base_template.html' %}
{% block title %} AskMate|{{ question['title'] }} {% endblock %}

{% block add %}
{% if not has_question_privilege %}
  <a class="btn btn-outline-success" href="{{ url_for('add_form', page='question-{}-new-answer'.format(question.id)) }}">Add answer</a>
{% endif %}
{% endblock %}

{% block content %}
  <div style="width: 50%; margin: 50px auto 50px auto; border-color: {{ font_color }}; background-color: {{ background_color }};" class="card">
    <div class="centered card-header">
      <h2 style="color: {{ font_color }}; border-bottom: double" class="nav-title fs-2 text">{{ question['title']|title|safe }}</h2>
    </div>
    <div class="card-body shadow">
      <p style="color: {{ font_color }}" class="card-text fs-4 text">{{ question['message']|capitalize|safe }}</p>
      {% if question['image'] %}
        <span class="centered"><img src="{{ question['image'] }}" width="400px" alt="image uploaded by user"></span>
      {% endif %}
      <div class="bg-{{ style }} clearfix">
        {% if has_question_privilege %}
        <a href="{{ url_for('delete_form', page='question-{}'.format(question.id)) }}" onclick="return confirm('Are you sure you want to delete this question?')" class="btn btn-outline-danger float-start">delete</a>
        <a href="{{ url_for('edit_form', page='question-{}'.format(question.id)) }}" class="btn btn-outline-secondary float-start">edit</a>
        <a href="{{ url_for('add_form', page='question-{}-new-tag'.format(question.id)) }}" class="btn btn-outline-secondary float-start">add tag</a>
        {% endif %}
        <div class="btn-group float-end">
          <a href="{{ url_for('vote', id=question.id, value=1, page=request.base_url) }}" class="btn btn-outline-success" aria-current="page"><img style="width: 25px" src="/static/icons/vote_up.png" alt="vote up sign"></a>
          <a class="btn btn-outline-secondary disabled">{{ question.vote_number }}</a>
          <a href="{{ url_for('vote', id=question.id, value=-1, page=request.base_url) }}" class="btn btn-outline-danger"><img style="width: 25px" src="/static/icons/vote_down.png" alt="vote down sign"></a>
        </div>
      </div>
    </div>
    <div style="margin-bottom: 10px; display: grid; justify-content: center" class="card-footer text-muted">
      {{ owner_user_name(question.user_id).get('user_name') }} posted {{ question['submission_time'] }}<br>
      <h6 class="centered">{{ question['view_number'] }} views</h6>
    </div>
    <div style="margin-bottom: 10px; display: inline-block; justify-content: left" class="card-footer text-muted">
      <a style="font-size: 17px" href="{{ url_for('add_form', page='question-{}-new-comment'.format(question.id) ) }}">Add comment</a>
      {% for tag in question_tags %}
        <span class="badge rounded-pill bg-secondary" style="margin-left: 10px; float: right;">
          <a id="tag-hyper" href="/tags/{{ tag['name'] }}" style="font-size: 17px">{{ tag['name'] }}</a>
          <a href="{{ url_for('delete_form', page='question-{}-tag-{}'.format(question.id, tag.id)) }}">
            <button type="button" class="btn-close {{ 'disabled' if not has_question_privilege }}" aria-label="Close" style="float: right;"></button>
          </a>
        </span>
      {% endfor %}
    </div>
    <div class="accordion" id="accordionQuestionComments">
      {% for comment in question_comments %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading{{ comment['id'] }}">
            <button id="style-mode" class="accordion-button text-muted" data-bs-toggle="collapse" data-bs-target="#collapse{{ comment['id'] }}" aria-expanded="true" aria-controls="collapse{{ comment['id'] }}">
              {{ owner_user_name(comment.user_id).get('user_name') }} {{ comment['submission_time'] }}
            </button>
          </h2>
          <div id="collapse{{ comment['id'] }}" class="accordion-collapse collapse {{ 'show' if loop.index0 == 0 }}" aria-labelledby="heading{{ comment['id'] }}" data-bs-parent="#accordionQuestionComments">
            <div style="color: {{ font_color }}; background-color: {{ background_color }}" class="accordion-body">
              {{ comment['message']|capitalize|safe }}<br><br>
              <div style="margin-top: 10px" class="bg-{{ background_color }} clearfix">
                {% if has_comment_privilege(session, comment.id) %}
                <a href="{{ url_for('delete_form', page='comments-{}'.format(comment.id)) }}" onclick="return confirm('Are you sure you want to delete this comment?')" class="btn btn-outline-danger float-start">delete</a>
                <a href="{{ url_for('edit_form', page='comment-{}'.format(comment.id)) }}" class="btn btn-outline-secondary float-start">edit</a>
                {% endif %}
                <h6 class="text-muted centered">{{ "Edited {} {}".format(comment.edited_count, 'times' if comment.edited_count > 1 else 'time') if comment.edited_count }}</h6>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  {% for answer in answers %}
    <div id="{{ answer.id }}" style="border-color: {{ font_color }}; width: 75%; margin: 50px auto 50px auto;" class="style-mode  card">
      <div style="background-color: {{ 'rgba(173,255,47,0.2)' if answer.accepted_status else background_color }};" class="card-body shadow">
        <p style="color: {{ font_color }}" class="card-text fs-4 text">{{ answer.message|capitalize|safe }}</p>
        {% if answer.image %}
          <span class="centered"><img src="{{ answer.image }}" width="400px" alt="image uploaded by user"></span>
        {% endif %}
        <div style="margin-top: 10px; background-color: {{ 'rgba(173,255,47,0)' if answer.accepted_status else background_color }};" class="bg clearfix">
          {% if has_answer_privilege(session, answer.id) %}
          <a href="{{ url_for('delete_form', page='answer-{}'.format(answer.id)) }}" onclick="return confirm('Are you sure you want to delete this answer?')" class="btn btn-outline-danger float-start">delete</a>
          <a href="{{ url_for('edit_form', page='answer-{}'.format(answer.id)) }}" class="btn btn-outline-secondary float-start">edit</a>
          {% endif %}
          {% if has_question_privilege %} <a href="{{ url_for('accepted_status', id=answer.id, question_id=question.id, status= '0' if answer.accepted_status else '1') }}" class="btn btn-outline-{{ 'danger' if answer.accepted_status else 'success' }} float-start">{{ 'decline' if answer.accepted_status else 'accept' }}</a> {% endif %}
          <div class="btn-group float-end">
            <a href="{{ url_for('vote', id=answer.id, value=1, page=request.base_url, answer=true) }}" class="btn btn-outline-success" aria-current="page"><img style="width: 25px" src="/static/icons/vote_up.png" alt="vote up sign"></a>
            <a class="btn btn-outline-secondary disabled">{{ answer.vote_number }}</a>
            <a href="{{ url_for('vote', id=answer.id, value=-1, page=request.base_url, answer=true) }}" class="btn btn-outline-danger"><img style="width: 25px" src="/static/icons/vote_down.png" alt="vote down sign"></a>
          </div>
        </div>
      </div>
      <div style="background-color: {{ 'rgba(173,255,47,0.2)' if answer.accepted_status else background_color }};" class="centered card-footer text-muted">
        {{ owner_user_name(answer.user_id).get('user_name') }} posted {{ answer.submission_time }}<br>
      </div>
      <div style="display: inline-block; justify-content: left; background-color: {{ 'rgba(173,255,47,0.2)' if answer.accepted_status else background_color }};" class="card-footer text-muted">
        <a href="{{ url_for('add_form', page='answer-{}-new-comment'.format(answer.id)) }}">Add comment</a>
      </div>
      <div class="accordion" id="accordionAnswerComments">
        {% for comment in update_answers_comments(answer_comments(answer.id)) %}
          <div style="background-color: {{ 'rgba(173,255,47,0.2)' if answer.accepted_status else background_color }}; border-collapse: collapse; border-top-color: {{ font_color }}; border-bottom-color: {{ font_color if not loop.last }}" class="accordion-item">
            <h2 class="accordion-header" id="heading{{ comment.id }}">
              <button style="background-color: {{ 'rgba(173,255,47,0)' if answer.accepted_status else background_color }};" id="style-mode" class="accordion-button text-muted" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ comment.id }}" aria-expanded="true" aria-controls="collapse{{ comment.id }}">
                {{ owner_user_name(comment.user_id).get('user_name') }} {{ comment['submission_time'] }}
              </button>
            </h2>
            <div id="collapse{{ comment.id }}" class="accordion-collapse collapse {{ 'show' if loop.index0 == 0 }}" aria-labelledby="heading{{ comment.id }}" data-bs-parent="#accordionAnswerComments">
              <div style="background-color: {{ 'rgba(173,255,47,0)' if answer.accepted_status else background_color }}" class="style-mode accordion-body">
                {{ comment['message']|capitalize|safe }}<br><br>
                <div style="margin-top: 10px; background-color: {{ 'rgba(173,255,47,0)' if answer.accepted_status else background_color }}" class="bg clearfix">
                  {% if has_comment_privilege(session, comment.id) %}
                  <a href="{{ url_for('delete_form', page='comments-{}'.format(comment.id)) }}" onclick="return confirm('Are you sure you want to delete this comment?')" class="btn btn-outline-danger float-start">delete</a>
                  <a href="{{ url_for('edit_form', page='comment-{}'.format(comment.id)) }}" class="btn btn-outline-secondary float-start">edit</a>
                  {% endif %}
                  <h6 class="text-muted centered">{{ "Edited {} {}".format(comment.edited_count, 'times' if comment.edited_count > 1 else 'time') if comment.edited_count }}</h6>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% endblock %}