{% extends 'base_template.html' %}
{% block title %} AskMate|{{ question['title'] }} {% endblock %}

{% block element %}
  <a class="btn btn-outline-success centered" href="{{ url_for('add_form', page='question-{}-new-answer'.format(question.id)) }}">Add answer</a>
{% endblock %}
{% block sort %}{% endblock %}

{% block content %}
  <div style="width: 50%; margin: 50px auto 50px auto; border-color: {{ font_color }}; background-color: {{ background_color }};" class="card">
    <div class="centered card-header">
      <h2 style="color: {{ font_color }}; border-bottom: double" class="nav-title fs-2 text">{{ question['title']|title|safe }}</h2>
    </div>
    <div class="card-body shadow">
      <p style="color: {{ font_color }}" class="card-text fs-4 text">{{ question['message']|capitalize|safe }}</p>
      {% if question['image'] %}
        <span class="centered"><img src="{{ question['image'] }}" width="200px" alt="image uploaded by user"></span>
      {% endif %}
      <div class="bg-{{ style }} clearfix">
        <a href="{{ url_for('delete_form', page='question-{}'.format(question.id)) }}" onclick="return confirm('Are you sure you want to delete this question?')" class="btn btn-outline-danger float-start">delete</a>
        <a href="{{ url_for('edit_form', page='question-{}'.format(question.id)) }}" class="btn btn-outline-secondary float-end">edit</a>
        <a href="{{ url_for('add_form', page='question-{}-new-tag'.format(question.id)) }}" class="btn btn-outline-secondary float-end">add tag</a>
      </div>
    </div>
    <div style="margin-bottom: 10px; display: grid; justify-content: center" class="card-footer text-muted">
      {{ question['submission_time'].strftime("%Y-%m-%d %H:%M") }}<br>
      <h6 class="centered">{{ question['view_number'] }} views</h6>
    </div>
    <div style="margin-bottom: 10px; display: inline-block; justify-content: left" class="card-footer text-muted">
      <a style="font-size: 17px" href="{{ url_for('add_form', page='question-{}-new-comment'.format(question.id) ) }}">Add comment</a>
      {% for tag in question_tags %}
        <span class="badge rounded-pill bg-secondary" style="margin-left: 10px; float: right;">
          <a style="font-size: 17px">{{ tag['name'] }}</a>
          <a href="{{ url_for('delete_form', page='question-{}-tag-{}'.format(question.id, tag.id)) }}">
            <button type="button" class="btn-close" aria-label="Close" style="float: right;"></button>
          </a>
        </span>
      {% endfor %}
    </div>
    <div class="accordion" id="accordionQuestionComments">
      {% for comment in question_comments %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading{{ comment['id'] }}">
            <button id="style-mode" class="accordion-button text-muted" data-bs-toggle="collapse" data-bs-target="#collapse{{ comment['id'] }}" aria-expanded="true" aria-controls="collapse{{ comment['id'] }}">
              view comment from {{ comment['submission_time'].strftime("%Y-%m-%d %H:%M") }}
            </button>
          </h2>
          <div id="collapse{{ comment['id'] }}" {% if comment.submission_time == latest_question_comment %}class="accordion-collapse collapse show" {% else %}class="accordion-collapse collapse"{% endif %} aria-labelledby="heading{{ comment['id'] }}" data-bs-parent="#accordionQuestionComments">
            <div style="color: {{ font_color }}; background-color: {{ background_color }}" class="accordion-body">
              {{ comment['message']|capitalize|safe }}<br><br>
              <div style="margin-top: 10px" class="bg-{{ background_color }} clearfix">
                <a href="{{ url_for('delete_form', page='comments-{}'.format(comment.id)) }}" onclick="return confirm('Are you sure you want to delete this comment?')" class="btn btn-outline-danger float-start">delete</a>
                <a href="{{ url_for('edit_form', page='comment-{}'.format(comment.id)) }}" class="btn btn-outline-secondary float-end">. edit .</a>
                <h6 class="text-muted centered">{{ "Edited {} {}".format(comment.edited_count, 'times' if comment.edited_count > 1 else 'time') if comment.edited_count }}</h6>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  {% for answer in answers %}
    <div id="{{ answer.id }}" style="border-color: {{ font_color }}; width: 75%; margin: 50px auto 50px auto;" class="style-mode  card">
      <div class="card-body shadow">
        <p style="color: {{ font_color }}" class="card-text fs-4 text">{{ answer.message|capitalize|safe }}</p>
        {% if answer.image %}
          <span class="centered"><img src="{{ answer.image }}" width="200px" alt="image uploaded by user"></span>
        {% endif %}
        <div style="margin-top: 10px" class="bg-{{ background_color }} clearfix">
          <a href="{{ url_for('delete_form', page='answer-{}'.format(answer.id)) }}" onclick="return confirm('Are you sure you want to delete this answer?')" class="btn btn-outline-danger float-start">delete</a>
          <a href="{{ url_for('edit_form', page='answer-{}'.format(answer.id)) }}" class="btn btn-outline-secondary float-start">edit</a>
          <div class="btn-group float-end">
            <a href="{{ url_for('vote', id=answer.id, value=1, page=request.base_url) }}" class="btn btn-outline-success" aria-current="page"><img style="width: 25px" src="/static/icons/vote_up.png" alt="vote up sign"></a>
            <a class="btn btn-outline-secondary disabled">{{ answer.vote_number }}</a>
            <a href="{{ url_for('vote', id=answer.id, value=-1, page=request.base_url) }}" class="btn btn-outline-danger"><img style="width: 25px" src="/static/icons/vote_down.png" alt="vote down sign"></a>
          </div>
        </div>
      </div>
      <div style="margin-bottom: 10px; display: grid; justify-content: center" class="card-footer text-muted">
        {{ answer.submission_time.strftime("%Y-%m-%d %H:%M") }}<br>
      </div>
      <div style="margin-bottom: 10px; display: inline-block; justify-content: left" class="card-footer text-muted">
        <a href="{{ url_for('add_form', page='answer-{}-new-comment'.format(answer.id)) }}">Add comment</a>
      </div>
      <div class="accordion" id="accordionAnswerComments">
        {% for comment in answer_comments(answer.id) %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ comment.id }}">
              <button id="style-mode" class="accordion-button text-muted" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ comment.id }}" aria-expanded="true" aria-controls="collapse{{ comment.id }}">
                view comment from {{ comment.submission_time.strftime("%Y-%m-%d %H:%M") }}
              </button>
            </h2>
            <div id="collapse{{ comment.id }}" {% if comment.submission_time == latest_answer_comment(answer.id).get('max') %}class="accordion-collapse collapse show" {% else %}class="accordion-collapse collapse"{% endif %} aria-labelledby="heading{{ comment.id }}" data-bs-parent="#accordionAnswerComments">
              <div class="style-mode accordion-body">
                {{ comment['message']|capitalize|safe }}<br><br>
                <div style="margin-top: 10px" class="bg-{{ style }} clearfix">
                  <a href="{{ url_for('delete_form', page='comments-{}'.format(comment.id)) }}" onclick="return confirm('Are you sure you want to delete this comment?')" class="btn btn-outline-danger float-start">delete</a>
                  <a href="{{ url_for('edit_form', page='comment-{}'.format(comment.id)) }}" class="btn btn-outline-secondary float-end">. edit .</a>

                  <h6 class="text-muted centered">{{ "Edited {} {}".format(comment.edited_count, 'times' if comment.edited_count > 1 else 'time') if comment.edited_count }}</h6>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% endblock %}